body {
    padding: 0;
    margin: 0;
}

._index__mots-container__3CTrC {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

._index__tile-container__1aLHL {
    background-color: black;
    border: 0;
    padding: 5%;
}

._index__tile__4CU7t {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

._index__hidden-tile__3WjHf {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

._index__guess-button__2i8a7 {
    width: 100%;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

._styles-module__mots-container__8mM9P {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

._styles-module__tile-container__1SG6_ {
    background-color: black;
    border: 0;
    padding: 5%;
}

._styles-module__tile__1-BKz {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

._styles-module__hidden-tile__2_ire {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

._styles-module__guess-button__3Z2NU {
    width: 100%;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
}
