body {
    padding: 0;
    margin: 0;
}

.mots-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.tile-container {
    background-color: black;
    border: 0;
    padding: 5%;
}

.tile {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hidden-tile {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess-button {
    width: 100%;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
}
